* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  background-color: cornflowerblue;
  justify-content: center;
  align-items: center;
}
.cart {
  background-color: #fff;
  height: 400px;
  width: 300px;
  border-radius: 10px;
}
.cart img {
  height: 180px;
  width: 200px;
  object-fit: cover;
  object-position: center;
  margin-left: 47px;
  /* padding: 30px; */
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.title {
  font-size: 25px;
  margin: 10px 0px;
  text-align: center;
  font-weight: 700;
}
h4 {
  text-align: center;
  font-size: 25px;
  color: red;
  /* gap: 50px; */
  margin-top: 12px;
}
.btn {
  text-align: center;
  margin: 20px;
  gap: 10px;
}
#add {
  background-color: cadetblue;
  /* justify-content: center; */
  font-weight: 700;
  color: #fff;
  border-radius: 50px;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
}
#Remove {
  background-color: #dadada;
  /* justify-content: center; */
  font-weight: 700;
  color: #111;
  border-radius: 50px;
  border: none;
  padding: 12px 20px;

  cursor: pointer;
}
